html{
    height: 100%;
}

@font-face{
    font-family: "Verdana";
    src: url(../fonts/Verdana.ttf);
}

@font-face{
    font-family: "Verdana Bold";
    src: url(../fonts/verdanab.ttf);
}

body {
    margin: 0;
    height: 100%;
}

.hero_section {
    width: 100%;
    height: 100%; /* Esto hace que coja el 100% del alto del padre que en este caso es el body que a su vez lo coje del html que a su vez lo coje del document */
    display: flex; 
    flex-direction: column;
    background-image: url(/assets/imgs/herosection_img.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

header{
    width: 1270px;
}

.main_nav ul{
    width: 400px;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.main_nav {
    display: flex;
    justify-content: flex-end;
}

ul,p,a{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home_content{
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    padding-left: 7rem;
    box-sizing: border-box;
    text-align: center;
}

.home_content p{
    font-size: 24pt;
    font-style: italic;
}

.home_content a{
    text-decoration: none;
    background-color: #2F343D;
    border: 1px solid white;
    width: 185px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    border-radius: 8px;
}


.home_content a:hover{
    color: #2a4880;
}


.mybio_section{
    width: 100%;
    height:320vh;
    background-color: #41464E;
    display: flex;
    flex-direction: column;

}

.mybio_section h1, h3 {
    color: white;
}

.mybio_section h3{
    text-align: center;
}

.mybio_section h1, .album_section h1{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.bio_content1, .bio_content2, .bio_content3, .bio_content4{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.bio_content2, .bio_content3, .bio_content4{
    margin-top: 4rem;
}


.album_section{
    width: 100%;
    height: 100%;
    background-color: #1A1A1A;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.albums{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact_section{
    background-color: #1A1A1A;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_section h1{
    color: white;
}


footer{
    background-color: #373B40;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    box-sizing: border-box;
}

footer ul{
    list-style-type: none;
}

.contact_form input{
    box-sizing: border-box;
    width: 600px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}

.name, .email, .subject{
    height: 30px;
}

.message{
    height: 200px;
    box-sizing: border-box;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    width: 600px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    resize: none;
}


.submit_button{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: end;
}

.submit_button a{
    box-sizing: border-box;
    margin-right: 1rem;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid black;
    color: black;
    background-color: white;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.submit_button a:hover{
    color: #2a4880;
}

.social_logos{
    display: flex;
    justify-content: space-evenly;
}
